@model TTTN_WEB_ASP.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="card-body login-card-body">
    <p class="login-box-msg">Đăng nhập để bắt đầu</p>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);
        <div class="input-group mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Tài khoản" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    @Html.CheckBoxFor(x => x.RememberMe)
                    <label for="remember">
                        Nhớ mật khẩu
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <button type="submit" class="btn btn-sm btn-primary">Đăng Nhập</button>
            </div>
            <!-- /.col -->
        </div>
    }
    <p class="mb-1">
        <a href="#">Tôi đã quên mật khẩu</a>
    </p>
</div> 